* {
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  position: relative;
}

.spacer{
  margin: 1rem 0;
}

.table-item-list{
  border: 1px solid #ccc;
}

.table-item-list p{
  margin: 0;
}

.custom-row{
  display: flex;
  flex-flow: row wrap;
}

.row-item, .row-item-input{
  flex: 1 0 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem .5rem;
  border-bottom: #ccc 1px solid;
}

.row-item-input input{
  padding: .1rem 1rem;
}

/* custom 404 page not found */

#notfound {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.4;
}


#notfound .notfound-404 {
  margin: 0 2rem 2rem 0;
}


#notfound .notfound-404 h1 {
  font-family: 'Passion One', cursive;
  color: #00b5c3;
  font-size: 150px;
  letter-spacing: 15.5px;
  font-weight: 900;
}

#notfound h2 {
  font-family: 'Raleway', sans-serif;
  color: #292929;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  margin-top: 0;
}

#notfound p {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 15px;
  color: #333;
}

.error-text-small{
  color: red;
  font-size: .8rem;
}

.red-text{
  color: red;
}

.input-error{
  border: solid 1px red;
}

#notfound .red-text {
  color: red;
}

#notfound a {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  background: #fff;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 40px;
  color: #292929;
  font-weight: 700;
  -webkit-box-shadow: 0px 4px 15px -5px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 4px 15px -5px rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

#notfound a:hover {
  color: #fff;
  background-color: #00b5c3;
}

@media only screen and (max-width: 480px) {

  .mobile-hide{
    display: none;
  }

  #notfound {
    text-align: center;
    flex-direction: column;
  }
  #notfound .notfound-404 {
    
    width: 100%;
    margin-bottom: 15px;
  }
  #notfound {
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* sidebar customisation */

#sidebarMenu{
  box-shadow: 4px 0px 10px rgba(0, 0, 0, .5);
}

.sidebar-open{
  display: block !important;
  max-width: 320px;
  height: 100% !important;
  position: absolute;
  z-index: 1000;
  animation-delay: .2s;
  animation: sidebar-slide .8s;
 
}

@keyframes sidebar-slide{
  0%{
    left: -400px;
  }

  100%{
    left: 0px;
  }
}

#sidebarMenu{
  min-height: calc(100vh - 40px);
}

.sidebar-sticky{
  position: sticky;
  top: 48px;
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
  padding: .5rem 0;
}

.sidebar .nav-link i {
  margin-right: .5rem;
}

.sidebar .nav-link:hover {
  opacity: .75;
}

/* input field type numbe hide arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.btn-float{
  position: sticky !important;
  top: 80px;
  z-index: 5;
  margin: 2rem 0;
}

.border-red{
  padding: 1rem 1.5rem;
  border: solid 1px red;
}

.border-green{
  padding: 1rem 1.5rem;
  border: solid 1px green;
}

.f-box{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}

.f-box .card{
  margin: .5rem;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, .5);
  text-align: center !important;
  flex: 1 0 250px;
}

.table-data-action .btn{
  margin: .2rem 0;
}


@media (min-width: 992px){
  .col-lg-2-custom {
    flex: 0 0 15.75%;
    max-width: 15.75%;
  }
}